/* global */

.page{
    /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
    background: rgb(30, 30, 30);
    width: 100%;
    height: 100vh;
    
}

/* -------------Home-------------- */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    width: 60%;
    height: 60%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    color: #dfdfdf;
}
/* .home-content{
    width: 50%;
    height: 50%;
    color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.profile-pic{
    /* height: 10rem; */
    width: 20rem;
    margin: 10px 0;
}
.profile-pic img{
    width: 100%;
    border-radius: 5px;
}
.title-name h2{
    margin: 10px 0;
}
.description p{
}

.home-right{
    width: 30rem;
}
.home-right span{
    display: flex;
}

/* ----------skills---------- */
.title{
    width: 100%;
    display: flex;
    padding-left: 5.5rem;
    height: 10rem;
    display: flex;
    align-items: center;
}
.title p{
    font-size: 2.5rem;
}
.title hr{
    margin-right: 4rem;
    width: 100%;
    border: none;
    border-bottom: 1.2px solid rgb(203, 203, 203);
    margin-left: 1.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-list{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.skill-box{
    width: 8rem;
    height: 8rem;
    padding: 10px;
    margin: 15px;
    z-index: 1;
    border-radius: 50%;
    background-color: #545454;
}
.skill-box img{
    width: 100%;
    z-index: 1;
}

