
.nav-web{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    top: 0px;
    color: #fff;
}

.nav-web-options ul{
    display: flex;
    list-style-type: none;

}
.nav-web-options ul li{
    margin: 0 20px;
    cursor: pointer;
}
.nav-web-options ul li:hover{
    font-weight: bold;
    text-decoration: underline;
}

/* Social */
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    width: 4rem;
    height: 100vh;
}
.social hr{
    display: flex;
    height: 100%;
    border: none;
    border-right: 1px solid rgb(206, 206, 206);
}

.social-icons{
    margin: 0.8rem 0;
    display: flex;
    flex-direction: column;
}

.icon{
    margin: 1.1rem 0;
    color: rgb(206, 206, 206);
    cursor: pointer;
}
.icon:hover{
    color: #fff;
    font-weight: bold;
}