



/* ----------------nav----------------- */
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 4.4rem;
}
.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}
.nav ul li{
    margin-right: 2rem;
    color: #fff;
    cursor: pointer;
}
.nav ul li:hover{
    /* text-decoration: underline; */
    font-weight: bold;    
}


/* ---------Lander----------- */
.lander-container{
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(to top, #d6def1 0%, #eef1f5 100%); */
    /* background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); */
    /* background: linear-gradient(to right, #434343 0%, black 100%); */
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.lander-left, .lander-right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lander-left{
    flex-direction: column;
    font-size: 150%;
}
.lander-left div{
    margin-left: 10rem;
}
.lander-right div{
    margin-right: 10rem;
}
.lander-left h1{
    margin-bottom: 1rem;
}
.lander-left h2{
    margin-bottom: 0.3rem;
}

.profile-pic{
    height: 50%;
}
.profile-pic img{
    height: 100%;
    border-radius: 50%;
}